body {
  font-family: "Poppins", sans-serif;
}

nav {
  background-color: #282c34;
  height: 2.5em;
}

.header {
  display: block;
  text-align: left;
  margin-bottom: 0;
}

.hero {
  display: inline-block;
  width: 100%;
  margin: auto;
}
.hero h1 {
  padding: 0.5em 0;
}
.hero .table table tbody tr td {
  border-width: 0.1em;
  width: 3em;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 1.1em 0;
  text-align: center;
}
.hero .table table tbody tr .table-heading {
  font-weight: bold;
  background-color: lightgray;
}
.hero .table table tbody tr .table-data:hover {
  cursor: pointer;
}

.history {
  text-align: center;
  border-style: solid;
  border-width: 0.1em;
  border-color: grey;
}
.history .history-content {
  border-top-style: solid;
  border-width: 0.1em;
}

@media only screen and (min-width: 478px) {
  .hero {
    display: inline-flex;
  }

  .table {
    width: 50%;
  }

  .history {
    width: 50%;
  }
}/*# sourceMappingURL=style.css.map */